<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Quản_lý_điểm_sinh_vien_CNTT.Properties.Settings.QuanlydiemConnectionString"
            connectionString="Data Source=HUUDIEN\SQLEXPRESS;Initial Catalog=Quanlydiem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Quản_lý_điểm_sinh_vien_CNTT.Properties.Settings.QuanLyDiemConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\QuanLyDiem.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="Quản_lý_điểm_sinh_vien_CNTT.Properties.Settings.QuanlydiemConnectionString2"
            connectionString="Data Source=PASSION-PC\SQLEXPRESS;Initial Catalog=Quanlydiem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>